- id: geoweather_periodic_update
  alias: GeoWeather – periodisch aktualisieren
  triggers:
  - trigger: time_pattern
    hours: /1
  - entity_id:
    - binary_sensor.fahrt
    from:
    - 'on'
    to:
    - 'off'
    trigger: state
  conditions:
  - condition: state
    entity_id: binary_sensor.fahrt
    state:
    - 'off'
  actions:
  - data: {}
    action: geoweather.update
- id: geoweather_position_change
  alias: GeoWeather – Update nach Ankunft
  description: Aktualisiert Wetterdaten, wenn der Camper für X Minuten steht.
  triggers:
  - entity_id: binary_sensor.moving
    from: 'on'
    to: 'off'
    for:
      minutes: 10
    trigger: state
  conditions:
  - condition: state
    entity_id: binary_sensor.moving
    state: 'off'
  actions:
  - data: {}
    action: geoweather.update
  mode: restart
